<!-- Chat box title tray -->
<div class="chatbox chatbox--tray chatbox--empty">
  <div class="chatbox__title">
    <h5><a>{{selectedUserName}}</a></h5>
    <button class="btn btn-outline-success btn-lg callimg mr-6" data-toggle="popover" (click)="audiocall(template1)" title="Audio Call">
      <i class="fa fa-phone" aria-hidden="true"></i>
    </button>
    <button class="btn btn-outline-primary btn-lg callimg mr-6" data-toggle="popover" (click)="videocall(template2)" title="Video Call">
      <i class="fa fa-video-camera" aria-hidden="true"></i>
    </button>
    <button class="chatbox__title__tray">
      <span></span>
    </button>
    <button class="chatbox__title__close">
      <span>
              <svg viewBox="0 0 12 12" width="12px" height="12px">
                  <line stroke="#FFFFFF " x1="11.75" y1="0.25" x2="0.25" y2="11.75"></line>
                  <line stroke="#FFFFFF " x1="11.75" y1="11.75" x2="0.25" y2="0.25"></line>
              </svg>
          </span>
    </button>
  </div>
  <!-- Messages to be displayed in chatbox -->
  <ul class="message-thread">
    <li *ngFor="let message of messages" [class.align-right]="alignMessage(message.toUserId)">
      {{ message.message}}
    </li>
  </ul>
  <div class="message-typer">
    <textarea class="message form-control" placeholder="Type and hit Enter" [(ngModel)]="message" (keyup)="sendMessage($event)">
    </textarea>
    <div class="card-footer">
      <input type="file" id="file" class=" form-control" (change)="fileChange($event)" accept=".jpg,.jpeg,.png">
      <div class="col-sm-3">
        <button type="button" class="btn btn-secondary upload" (click)="uploadFile()">UPLOAD</button>
      </div>
    </div>
  </div>
</div>
<!-- Togglable button -->
<span class="done">
  <button mat-fab class="button-collapse sidebar" (click)="removesb()">
    <mat-icon>chat
    </mat-icon>
  </button>
</span>
<!-- Side-bar displaying list of online users -->
<div class="nav-side-menu side">
  <div class="brand">Online Users</div>
  <div class="menu-list">
    <ul class="n">
      <li *ngFor="let user of chatListUsers">
        {{ user.userName}}
        <button class="btn btn-outline-primary btn-lg callimg mr-6 close" data-toggle="popover" title="Chat" (click)="selectedUser(user)" [class.selected-user]="isUserSelected(user._id)">Chat
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
<span class="done">
      <button mat-fab class="button-collapse sidebar" (click)="removesb()">
     <mat-icon>check circle</mat-icon>
   </button>
      
    </span>
<div class="nav-side-menu side">
  <div class="brand">{{config.chat.TITLE}}</div>
  <div class="menu-list">
    <ul class="n">
      <li *ngFor="let user of chatListUsers">
        {{ user.userName}}
        <button class="btn btn-outline-primary btn-lg callimg mr-6 close" data-toggle="popover" title="Chat" (click)="selectedUser(user)" [class.selected-user]="isUserSelected(user._id)">Chat
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
<!-- use template for audio call componen -->t
<template #template1>
  <app-audio-chat></app-audio-chat>
</template>
<!-- use template for video call component -->
<template #template2>
  <app-video-chat></app-video-chat>
</template>
