.CodeMirror-lines {
  all: revert;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* style for setting width and height of the editor */
html,
body {
  width: 100%;
  height: 100%;
}

/* reponame text color*/
.repoName b {
  color: #A9A9A9;
}

/**
 * output section 
 */
.btn-outline-warning {
  border-color: #343a40;
  cursor: pointer;
}

#output h3 {
  height: 45px;
  padding: 12px 20px;
  margin: 0;
  background-color: #C5CAE9;
  z-index: 10;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

/* Output Area */
#output {
  top: 0;
  right: 0;
  bottom: 0;
  border: 5px solid #444;
  border-left-width: 10px;
  overflow: hidden;
  height: 100%;
  background-color: #FFFFFF;
}

/**
 * nav 
 */
#mainNav {
  background: #343a40;
  height: 50px;
}

/**
 * font color
 */
.font a {
  color: #1995ad
}

/**
 * hover on buttons
 */
.font a:hover {
  color: black
}

/**
 * font color
 */
.font a {
  color: #1995ad
}

/**
 * hover on buttons
 */
.font a:hover {
  color: black
}

/**
 * no padding
 */
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/**
 * padding
 */
.padding {
  padding: 1px;
  margin: 0;
}

/**
 * javascript
 */
#javascript {
  font-size: 12px;
  height: 640px;
  margin-top: 0px;
}

/**
 * code box
 */
.code_box {
  margin-top: 2px;
}

/**
 * download button
 */
.downloadbtn {
  color: black;
}

/**
 * repocrud styling
 */
#repoCrud {
  margin-left: 380px;
}

/**
 * font styling
 */
.font {
  padding-right: 0px;
}

/**
 * left button styling
 */
.leftbutton {
  font-size: 0px;
}

/*
margin on buttons
 */
.createbtn {
  margin-left: 395px;
}

/*
 *margin on buttons
 */
.updatebtn {
  margin-left: 395px;
}

/*
 *margin on buttons
 */
.deletebtn {
  margin-left: 395px;
}

/**
 * code box
 */
.code_box {
  margin-top: 2px;
}

/**
 * download button
 */
.downloadbtn {
  color: black;
}

/**
 * repocrud styling
 */
#repoCrud {
  margin-left: 380px;
}

/**
 * font styling
 */
.font {
  padding-right: 0px;
}

/**
 * left button styling
 */
.leftbutton {
  font-size: 0px;
}

/*
margin on buttons
 */
.createbtn {
  margin-left: 395px;
}

/*
 *margin on buttons
 */
.updatebtn {
  margin-left: 395px;
}

/*
 *margin on buttons
 */
.deletebtn {
  margin-left: 395px;
}

/**
 * text area width
 */
.textAreaWidth {
  width: 100%;
}
