<!-- Chat box title tray -->
<div class="row">
<div class="chatbox chatbox--tray chatbox--empty">
  <div class="chatbox__title">
    <h5 id="myhead"><a (click)="chatBoxToggle()" data-toggle="popover" title="Click Here To Resize">{{selectedUserName}}</a></h5>
    <button class="btn btn-outline-success btn-lg callimg ml-2 mr-6" data-toggle="popover" (click)="showAudio()" title="Audio Call">
      <i class="fa fa-phone" aria-hidden="true"></i>
    </button>
    <button class="btn btn-outline-primary btn-lg callimg ml-2 mr-6" data-toggle="popover" (click)="showVideo()" title="Video Call">
      <i class="fa fa-video-camera" aria-hidden="true"></i>
    </button>
    <button class="chatbox__title__close ml-2" data-toggle="popover" title="Close Window">
      <span>
             <svg viewBox="0 0 12 12" width="12px" height="12px">
                 <line stroke="#FFFFFF
" x1="11.75" y1="0.25" x2="0.25" y2="11.75"></line>
                 <line stroke="#FFFFFF
" x1="11.75" y1="11.75" x2="0.25" y2="0.25"></line>
             </svg>
         </span>
    </button>
  </div>
   <!-- Messages to be displayed in chatbox -->
  <ul class="message-thread">
    <li class="" *ngFor="let message of messages" [class.align-right]="alignMessage(message.toUserId)" [class.msgcolour]="!alignMessage(message.toUserId)">
      {{ message.message}}
    </li>
  </ul>
  <div class="row bottomGap">
    <div class="col-sm-10">
      <div class="message-typer ">
        <textarea class="message form-control" placeholder="Type and hit Enter" [(ngModel)]="message" (keyup)="sendMessage($event)">
          <div class="card-footer">
            <input type="file" id="file" class=" form-control" (change)="fileChange($event)" accept=".jpg,.jpeg,.png">
            <div class="col-sm-3">
              <button type="button" class="btn btn-secondary upload" (click)="uploadFile()">Upload</button>
            </div>
          </div>
        </textarea>
      </div>
    </div>
    <div>
      <a *ngIf="showSearchButton==true" class="btn rounded-circle marginGap speechOn" name="btnActivateSpeechSearchMovie" data-toggle="popover" title="Start Speaking" id="btnActivateSpeechSearchMovie" (click)="activateSpeechSearchMovie()"> <i class="fa fa-microphone" aria-hidden="true"></i></a>
      <a *ngIf="showStopButton==true" class="btn rounded-circle marginGap speechOff" data-toggle="popover" title="Stop Speaking" (click)="stop()">  <i class="fa fa-microphone-slash" aria-hidden="true"></i> </a>
    </div>
  </div>
</div>
</div>
<div class="row">
<!-- Togglable button -->
<span class="done">
  <button mat-fab class="button-collapse sidebar" (click)="removesb()">
    <mat-icon>chat</mat-icon>
  </button>
</span>
</div>
<div class="row">
<div class="nav-side-menu side">
  <div class="brand">{{config.chat.TITLE}}</div>
  <div class="menu-list">
    <ul class="n">
      <li *ngFor="let user of chatListUsers">
        {{ user.userName}}
        <button class="btn btn-outline-primary btn-lg callimg mr-6 close" data-toggle="popover" title="Chat" (click)="selectedUser(user)" [class.selected-user]="isUserSelected(user._id)">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
</div>
<div class="row">
<!-- use template for audio call componen -->
<div *ngIf="showAudioBox==true">
  <app-audio-chat [userPeerId]="peerId" [callUserName]="userName" [selectedUserName]="selectedUserName"></app-audio-chat>
</div>
</div>
<div class="row">
<!--use template for video call component -->
<div *ngIf="showVideoBox==true">
  <app-video-chat [userPeerId]="peerIdVideo" [callUserName]="userNameForVideo" [selectedUserName]="selectedUserName"></app-video-chat>
</div>
</div>
