<form #postSubmit='ngForm'>
  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-white" href="">{{forumConfig.DETAILPOST.KNOWLEDGE_BASE}}</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link text-white" href="" routerLink="/questions">{{forumConfig.DETAILPOST.HOME}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="" routerLink="/questions">{{forumConfig.DETAILPOST.QUESTIONS}}</a>
        </li>
        <!--  <li class="nav-item"> -->
        <li class="nav-item">
          <a class="nav-link disabled text-white" href="#"></a>
        </li>
      </ul>
      <span class="navbar-text white-text">
              <a class="text-white" href="#">
                 <i class="fa fa-question-circle fa-lg text-white"></i>{{forumConfig.DETAILPOST.HELP}}</a>
        </span>
      <span class="navbar-text white-text ml-4 mr-2">
            <a class="text-white" href="#">
                 <i class="fa fa-sign-in fa-lg text-white"></i>{{forumConfig.DETAILPOST.LOGIN}}</a>
        </span>
    </div>
  </nav>
  <div class="container-fluid bg-light">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
        <div class="heading h4 mt-4">
          {{forumConfig.DETAILPOST.ALL_QUESTIONS}}
        </div>
        <hr>
        <div class="questionsumary">
          <div class="row mb-3">
            <div class="statuscontainer col-sm-3">
              <div class="vote h5">
                211 {{forumConfig.DETAILPOST.VOTES}}
              </div>
              <div class="answeraccepted h5  border py-2 text-white mt-4">
                <strong class="pl-4">12</strong>
                <br><small class="ans">{{forumConfig.DETAILPOST.ANSWERS}}</small>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="questionTitle">
                {{data.questionTitle}}
              </div>
              <div class="problemDescription">
                {{data.problemDescription}}
              </div>
              <div class="text-white mt-3 mb-3">
                <div class="tags d-inline border py-1">Angularjs</div>
                <div class="tags d-inline boredr py-1">Nodejs</div>
              </div>
              <div class="row">
                <div class="col-sm-5 postedDate small">
                  <div class="row">
                    <div class="col-sm-6">
                      <a class="btn like text-white" href="#">
                 <i class="fa fa-thumbs-up fa-lg text-white"></i>{{forumConfig.DETAILPOST.LIKES}}</a>
                    </div>
                    <div class="col-sm-6">
                      {{forumConfig.DETAILPOST.ASKED}} {{data.date}}
                    </div>
                  </div>
                </div>
                <div class="col-sm-7 user text-right">
                  <span><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i></span> posted by prashant
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="answer mt-3">
          <label class="h5">{{forumConfig.DETAILPOST.YOUR_ANSWERS}}</label>
          <ckeditor id="editor" class="editor" name="editor" [(ngModel)]="editor"></ckeditor>
        </div>
        <hr>
        <div class="login">
          <div class="row">
            <div class="col-sm-6 border py-2">
              <label class="h5">{{forumConfig.DETAILPOST.SIGNUP_LOGIN}}</label>
              <br>
              <a class="btn like text-white mt-4" href="#">
                 <i class="fa fa-github fa-lg text-white"></i>{{forumConfig.DETAILPOST.LOGIN_WITH_GITHUB}}</a>
            </div>
            <div class="col-sm-6 border py-2">
              <label class="h5">{{forumConfig.DETAILPOST.POST_AS_A_GUEST}}</label>
              <br>
              <div class="form-group col-sm mt-2">
                <span><i class="fa fa-user-circle-o fa-2x prefix"></i></span>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="First name">
                </mat-form-field>
              </div>
              <div class="form-group col-sm mt-2">
                <span><i class="fa fa-envelope fa-2x prefix"></i></span>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="email">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="postanswer mt-4 mb-4 text-center">
          <button class="btn like btn-md text-white" (click)="postAnswer()">{{forumConfig.DETAILPOST.POST_YOUR_ANSWER_BUTTON}}</button>
        </div>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</form>
