<!-- navbar starts -->
<nav class="navbar navbar-expand-lg fixed-top font" id="mainNav">
 <!-- logo -->
 <a class="navbar-brand oeditor">{{config.navbar.ONLINECODEEDITOR}}</a>
 <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
   <span><i class="fa fa-chevron-circle-down togglerButton" aria-hidden="true"></i></span>
 </button>
 <!-- navbar items -->
 <div class="collapse navbar-collapse navItem " id="navbarResponsive" >
   <ul class="navbar-nav ml-auto">
     <li class="nav-item">
       <a class="nav-link editor" routerLink="/main"><i class="fa fa-text-width" ></i>
           {{config.navbar.EDITOR}} </a>
     </li>
     <li class="nav-item">
       <a class="nav-link  forums" routerLink="/forums"><i class="fa fa-forumbee" ></i>
           {{config.navbar.FORUMS}} </a>
     </li>
     <li class="nav-item">
       <a class="nav-link  profile" routerLink="/profile"><i class="fa fa-fw fa-user-circle-o"></i>
           {{config.navbar.PROFILE}}</a>
     </li>
     <li class="nav-item">
       <a class="nav-link snippets" routerLink="/snippets"><i class="fa fa-fw fa-commenting-o "></i>
           {{config.navbar.SNIPPETS}}</a>
     </li>
     <li class="nav-item"> <a class="nav-link logout" (click)=logout()>
         <i class="fa fa-fw fa-sign-out"></i> {{config.navbar.LOGOUT}} </a>
     </li>
     <li class="nav-item">
     </li>
   </ul>
 </div>
</nav>
<!-- end of navbar -->

