<div class="audiobox audiobox--tray audiobox--empty">
  <div class="audiobox__title">
    <!--head section-->
    <h5 id="myhead"><a>Audio Call</a></h5>
    <div>
       <button class="audiobox__title__tray" (click)="audioboxtoggle()">
        <span></span>
      </button>
      <button class="audiobox__title__close" (click)="hideaudiochatbox()">
        <span>
              <svg viewBox="0 0 12 12" width="12px" height="12px">
                  <line stroke="#FFFFFF " x1="11.75" y1="0.25" x2="0.25" y2="11.75"></line>
                  <line stroke="#FFFFFF " x1="11.75" y1="11.75" x2="0.25" y2="0.25"></line>
              </svg>
          </span>
      </button>
    </div>
  </div>
  <div>
    <!--user peer id for audio call -->
    <input class="form-control bg-white" type="text" value={{mypeerid}} readonly ngModel>
    <!--another user peer id for audio call -->
    <input type="text" class="form-control bg-white" [(ngModel)]="anotherid" placeholder="Enter Your Connection">
  </div>
  <div class="ridge">
    <img src="https://www.adjust.com/new-assets/images/site-images/interface/user.svg" class="img-responsive myimg">
    <!-- audio call -->
    <audio class="videoWidth" #myaudio autoplay></audio>
  </div>
  <div class="btn-group align-self-center mt-2 mt-2">
    <!-- audio call button -->
    <button class="btn btn-outline-success btn-lg" (click)="audioConnect()" data-toggle="popover" title="Video Call" vi-controls-play>
      <i class="fa fa-phone" aria-hidden="true">
       </i>
    </button>
    <!-- mute audio button -->
    <button class="btn btn-outline-success btn-lg ml-2 ml-2" data-toggle="popover" title="Mute" (click)="audio()"  vi-controls-pause>
      <i class="fa fa-volume-off" aria-hidden="true"></i>
    </button>
    <!-- disconnect audio button -->
    <button class="btn btn-outline-danger btn-lg ml-2 ml-2" data-toggle="popover" (click)="audioDisconnect()" title="End Call">
      <i class="fa fa-phone-square" aria-hidden="true"></i>
    </button>
  </div>
</div>
