.audiobox {
  position: fixed;
  bottom: 0;
  right: 30px;
  width: 300px;
  height: 400px;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.audiobox--tray {
  bottom: -328px;
}

.audiobox--closed {
  bottom: -400px;
}

.audiobox .form-control:focus {
  border-color: #1f2836;
}

.audiobox__title,
.audiobox__body {
  border-bottom: none;
}

.audiobox__title {
  min-height: 50px;
  padding-right: 10px;
  background-color: #1f2836;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.audiobox__title h5 {
  height: 50px;
  margin: 0 0 0 15px;
  line-height: 50px;
  position: relative;
  padding-left: 20px;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.audiobox__title h5 a {
  color: #fff;
  max-width: 195px;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.audiobox__title h5:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  background: #4CAF50;
  border-radius: 6px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.audiobox__title__tray,
.audiobox__title__close {
  width: 24px;
  height: 24px;
  outline: 0;
  border: none;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.audiobox__title__tray:hover,
.audiobox__title__close:hover {
  opacity: 1;
}

.audiobox__title__tray span {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-bottom: 2px solid #fff
}

.audiobox__title__close svg {
  vertical-align: middle;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.2px;
}

.audiobox__body,
.audiobox__credentials {
  padding: 15px;
  border-top: 0;
  background-color: #f5f5f5;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.audiobox__credentials {
  display: none;
}

.audiobox__credentials .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.audiobox__body {
  overflow-y: auto;
}

.audiobox__body__message {
  position: relative;
}

.audiobox__body__message p {
  padding: 15px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
  box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
}

.audiobox__body__message img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #fcfcfc;
  position: absolute;
  top: 15px;
}

.audiobox__body__message--left p {
  margin-left: 15px;
  padding-left: 30px;
  text-align: left;
}

.audiobox__body__message--left img {
  left: -5px;
}

.audiobox__body__message--right p {
  margin-right: 15px;
  padding-right: 30px;
  text-align: right;
}

.audiobox__body__message--right img {
  right: -5px;
}

.audiobox__message {
  padding: 15px;
  min-height: 50px;
  outline: 0;
  resize: none;
  border: none;
  font-size: 12px;
  border: 1px solid #ddd;
  border-bottom: none;
  background-color: #fefefe;
}

.audiobox--empty {
  height: 380px;
  margin-right: 42%;
}

.audiobox--empty.audiobox--tray {
  bottom: -330px;
}

.audiobox--empty.audiobox--closed {
  bottom: -262px;
}

.audiobox--empty .audiobox__body,
.audiobox--empty .audiobox__message {
  display: none;
}

.audiobox--empty .audiobox__credentials {
  display: block;
}

.message-thread {
  height: 500px;
}

.btns {
  height: 30px;
  width: 30px;
}

.lgbtn {
  height: 30px;
  width: 30px;
}

.audiocall {
  background-image: url("https://sassets.evoice.com/evoiceImages/contact_sales.png")
}

.ridge {
  border-style: ridge;
  height: 50%;
  width: 100%;
}

.range {
  width: 100%;
  height: 100%;
}

.videoWidth {
  width: 100%;
  height: 100%;
}
